/* CSS to hide the surrounding frame on the LMS responsive view */

body.view-in-course .course-wrapper.chromeless {
    max-width: none;
}

.course-wrapper.chromeless .course-content {
    padding: 0;
}

/* CSS for ChatXBlock */

.chat-block {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.course-wrapper.chromeless .chat-block {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: auto;
}

.chat-wrapper .subject {
    width: 100%;
}

.course-wrapper.chromeless .subject {
    width: 90%;
    max-height: 70px;
    padding-bottom: 5px;
    overflow: scroll;
}

.chat-block .main-area {
    /* Limit the height of the scrollable chat area to approximately
       the window height minus standard LMS headers. */
    max-height: calc(100vh - 350px);
    overflow-y: auto;
}
.course-wrapper.chromeless .chat-block .main-area {
    max-height: calc(100vh - 50px);  /* keep 50px for the actions div */
}

.chat-block .subject p {
    background-color: #fff;
    color: #000;
    padding: 10px 15px 20px 15px;
}

.chat-block .notice {
    position: relative;
    width: 100%;
    margin: 15px auto;
}

.chat-block .notice::before {
    font-size: 25px;
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
}

.chat-block .notice.correct::before {
    content: "\f058";
}

.chat-block .notice.incorrect::before {
    content: "\f057";
}

.chat-block .notice p {
    padding: 20px 15px 20px 40px;
    background: #f0f0f0;
}

.chat-block .messages {
    padding: 30px 10px;
    box-sizing: border-box;
}

.course-wrapper.chromeless .chat-block .messages {
    padding: 30px 40px 30px 0px;
}

.chat-block .message {
    margin-bottom: 15px;
}

.chat-block .user {
    text-align: right;
}

.chat-block .avatar {
    height: 45px;
    width: 45px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.chat-block .avatar img {
    box-sizing: border-box;
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #39b549;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.chat-block .bot .avatar img {
    left: 0;
}

.chat-block .user .avatar img {
    right: 0;
}

.chat-block .message-body {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /* Chat message can take the available width, reduced by the width of the avatar (45px)
       and the margin between the avatar and the message (25px). */
    max-width: calc(100% - 45px - 25px);
}

.chat-block .message-body p {
    border-radius: 10px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 13px;
    font-family: Arial;
    background: rgba(221, 221, 221, 0.7);
    padding: 16px;
    margin: 0;
    color: #333;
}

.chat-block .user .message-body p {
    color: #fff;
    background: linear-gradient(to top, #2384e8 ,#77bbf0);
}

.chat-block .message-body p img {
    max-width: 100%;
    display: block;
    margin-bottom: 5px;
}

.chat-block .message-body::after {
    content: '';
    width: 0;
    display: block;
    position: absolute;
    border-width: 5px 12px 5px 0;
    border-color: transparent rgba(221, 221, 221, 0.7);
    border-style: solid;
    bottom: 16px;
}

.chat-block .bot .message-body {
    margin-left: 25px;
}

.chat-block .user .message-body {
    margin-right: 25px;
}

.chat-block .bot .message-body::after {
    left: -12px;
}

.chat-block .user .message-body::after {
    border-width: 5px 0 5px 12px;
    right: -12px;
    border-color: transparent #3691ea;
}

.chat-block .buttons {
    box-sizing: border-box;
    display: block;
    max-height: 0%;
    overflow: hidden;
}

.chat-block .entering {
    max-height: 85%;
}

.chat-block .leaving {
    max-height: 0%;
}

.chat-block .buttons .response-button {
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 0;
    padding: 5px 2px;
    text-align: center;
    text-transform: none;
}

.chat-block .response-button button {
    font-size: 13px;
    text-align: center;
    font-family: Arial;
    color: #fff;
    width: 80%;
}

.chat-block .response-button button:disabled {
    opacity: 1;
}

.chat-block .response-button button,
.chat-block .response-button button:hover,
.chat-block .response-button button:active,
.chat-block .response-button button:focus {
    background: linear-gradient(to top, #2384e8 ,#77bbf0);
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 10px;
    font-weight: normal;
    text-shadow: none;
    outline: 0;
    border-radius: 10px;
}

.chat-block .response-button.selected button {
    opacity: 0.5;
}

.chat-block .actions {
    text-align: right;
    margin-top: 20px;
}

.chat-block .actions:empty {
    margin-top: 0;
}

.chat-block .actions button,
.chat-block .actions button:hover,
.chat-block .actions button:active,
.chat-block .actions button:focus {
    color: #0075b4;
    background: none;
    border: none;
    box-shadow: none;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

.chat-block .actions .restart-button::before {
    content: "\f021";
    font-family: FontAwesome;
    padding-right: 5px;
}

.chat-block .image-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.chat-block .image-overlay img {
    background-color: white;  /* to make semi-transparent images look alright */
}

.chat-block .image-overlay::after {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    content: '\2573';  /* unicode light diagonal cross */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
}

.chat-block .spinner > div {
    width: 4px;
    height: 4px;
    margin-right: 2px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: chat-block-sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: chat-block-sk-bouncedelay 1.4s infinite ease-in-out both;
}

.chat-block .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.chat-block .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes chat-block-sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes chat-block-sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.chat-block .spinner-message .message-body p {
    background: rgba(221, 221, 221, 0.4);
}

.chat-block .spinner-message .message-body::after {
    border-color: transparent rgba(221, 221, 221, 0.4);
}

.chat-block .bot.spinner-message .avatar {
    opacity: 0.5;
}

.chat-block .bot.fadein-message .avatar, .fadein-message .message-body p, .fadein-message .message-body::after {
    -webkit-animation: chat-block-fadein 1s ease-in;
    animation: chat-block-fadein 1s ease-in;
}

@keyframes chat-block-fadein {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes chat-block-fadein {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
